@font-face {
    font-family: "Kalam";
    src: url("../Kalam-font.ttf");
}

body {
    font-family: "Kalam";
    color: #2b404d;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5vh 20vh auto auto auto;
}

.top-bar {
    color: #2b404d;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 1vh;
    grid-area: 1 / 1 / 2 / 5;
    border-bottom: 1px solid #f4f1ec;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

.top-bar a {
    text-decoration: none;
    color: #2b404d;
    font-size: 16px;
}

.top-bar-link {
    text-align: right;
}

.top-bar-name {
    margin-right: auto;
    float: left;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.header {
    grid-area: 2 / 1 / 3 / 3;
    margin-left: 10vw;
}

.main-menu {
    grid-area: 2 / 3 / 3 / 5;
    padding-top: 50px;
}

.main-menu-hamburger {
    height: 40px;
    position: absolute;
    top: 40%;
    right: 10%;
}

.menu-item {
    list-style-type: none;
    display: inline-block;
    height: 60px;
    margin: 10px 18px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.main-menu-list > .menu-item a {
    text-decoration: none;
    color: #2b404d;
}

.footer a {
    color: white;
    text-decoration: none;
}

.main-menu-list > .active a {
    color: #19a2e0;
}

a:hover,
.menu-item a:hover {
    color: #19a2e0;
    transition: ease-in 0.15s;
}

.main-content {
    grid-area: 3 / 1 / 4 / 5;
}

.price-img-div {
    text-align: center;
    margin-bottom: 40px;
}
.price-img {
    width: 95%;
    height: 400px;
    object-fit: cover;
}
.fb-page {
    width: 30vw;
}

.patients {
    margin-left: auto;
    margin-right: auto;
    grid-area: 4 / 1 / 5 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px repeat(4, auto);
    width: 80%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-height: 50vh;
}

.age-group:hover {
    opacity: 0.7;
    transition: all 1s ease-in-out;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.patients-img {
    height: 200px;
}

.footer {
    grid-area: 5 / 1 / 6 / 5;
    border-top: 1px solid #f4f1ec;
    background-color: #2b404d;
    color: white;
    margin-bottom: 0;
    padding: 20px;
}

.content {
    margin: 10vw;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px repeat(8, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

.content-services-item,
.price-list-item,
.story-text {
    padding: 40px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.content-description {
    margin-top: 30px;
}

.data-name {
    grid-area: 1 / 1 / 2 / 3;
    text-transform: uppercase;
    color: #19a2e0;
    text-align: center;
}

.data-address {
    grid-area: 2 / 1 / 3 / 2;
}

.data-email {
    grid-area: 2 / 2 / 3 / 3;
}

.data-facebook {
    grid-area: 3 / 1 / 4 / 2;
}

.data-phone {
    grid-area: 3 / 2 / 4 / 3;
}

.contact-link {
    color: #2b404d;
    text-decoration: none;
}

.icon {
    font-size: 30px;
    color: #19a2e0;
    padding: 10px;
    float: left;
}

.home-link {
    text-decoration: none;
    color: #2b404d;
}

.footer {
    grid-area: 4 / 1 / 5 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding-left: 10vw;
}

.footer-header {
    color: #19a2e0;
    font-weight: bold;
    margin: 10px 0px;
}

.footer-content {
    font-size: 12px;
    padding-bottom: 10px;
}

.footer-content ul {
    list-style-type: none;
}

.data-h3 {
    color: #19a2e0;
    font-size: 22px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.main-menu-close {
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
}

.main-menu-close-trigger {
    height: 20px;
    width: 20px;
    border: 1px solid lightgrey;
    padding: 2px;
}

.hamburger-clicked {
    background-color: #2b404d;
    z-index: 1;
    height: auto;
    width: 200px;
    color: white;
    text-align: center;
    padding: 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.hamburger-clicked > .menu-item a {
    color: white;
    display: block;
    text-decoration: none;
}

.hamburger-clicked > .menu-item a:hover {
    color: #19a2e0;
    transition: ease-in 0.15s;
}

@media (max-width: 1150px) {
    .main-menu {
        grid-area: 2 / 2 / 3 / 5;
        margin-left: auto;
        margin-right: 3vw;
    }

    .header {
        grid-area: 2 / 1 / 3 / 3;
        margin-left: 4vw;
    }

    .footer-container {
        padding-left: 4vw;
    }
}

@media (max-width: 1050px) {
    .therapy-description-1 {
        grid-area: 2 / 1 / 3 / 3;
    }
    .therapy-description-2 {
        grid-area: 3 / 1 / 4 / 3;
    }
    .therapy-description-3 {
        grid-area: 4 / 1 / 5 / 3;
    }
    .therapy-description-4 {
        grid-area: 5 / 1 / 6 / 3;
    }
    .therapy-description-5 {
        grid-area: 6 / 1 / 7 / 3;
    }
    .therapy-description-6 {
        grid-area: 7 / 1 / 8 / 3;
    }
    .therapy-description-7 {
        grid-area: 8 / 1 / 9 / 3;
    }
}

@media (max-width: 751px) {
    .main-menu {
        grid-area: 2 / 3 / 3 / 5;
        position: relative;
    }

    .main-menu-close {
        display: block;
    }

    .main-menu-list {
        visibility: hidden;
    }

    .footer {
        display: block;
        text-align: center;
    }
    .footer div {
        float: left;
        padding: 30px;
    }

    .age-group-1 {
        grid-area: 2 / 1 / 3 / 3;
    }

    .age-group-2 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .age-group-3 {
        grid-area: 4 / 1 / 5 / 3;
    }

    .age-group-4 {
        grid-area: 5 / 1 / 6 / 3;
    }
}

@media (min-width: 751px) {
    .main-menu-close {
        display: inline;
    }

    .main-menu-close,
    .main-menu-hamburger {
        visibility: hidden;
    }
}

@media (min-width: 580px) {
    .content {
        margin: 8vw 2vw;
    }
}
