.main-content {
    grid-area: 3 / 1 / 4 / 5;
    background-image: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 32vw 80px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.about-pic-container {
    background-image: url("../img/toy3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    grid-area: 1 / 1 / 2 / 6;
}

.data-name {
    text-align: center;
    grid-area: 2 / 1 / 3 / 6;
    font-size: 24px;
}

.story-about {
    margin-right: auto;
    margin-left: auto;
    grid-area: 3 / 1 / 4 / 6;
}

.story-about-item {
    height: auto;
    width: 800px;
    margin: 5vh;
}
