.main-content {
    grid-area: 3 / 1 / 4 / 5;
    background-image: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80vh 80px auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.about-pic-container {
    background-image: url("../img/toy3.jpg");
    background-repeat: no-repeat;
    background-position: 0 20px;
    background-size: cover;
    background-attachment: fixed;
    grid-area: 1 / 1 / 2 / 6;
}

.data-name {
    text-align: center;
    grid-area: 2 / 1 / 3 / 6;
    font-size: 24px;
}

.story-about {
    grid-area: 3 / 1 / 4 / 6;
}

.story-about-logopedist,
.story-about-gabinet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "pict text";
    margin-top: 10vh;
}

.story-about-logopedist-pic-div,
.story-about-gabinet-pic-div {
    grid-area: pict;
    text-align: center;
}

.story-about-logopedist-pic,
.story-about-gabinet-pic {
    width: 90%;
    text-align: center;
}

.story-about-logopedist-text,
.story-about-gabinet-text {
    grid-area: text;
    font-size: 18px;
    padding: 20px;
}

.story-about-logopedist-text p,
.story-about-gabinet-text p,
.story-about-techniques {
    margin-bottom: 5vh;
}

.story-about-gabinet-hours {
    text-align: center;
}

li {
    list-style-type: none;
}

h3 {
    margin-block-start: 0px;
    font-size: 24px;
}

.story-about-techniques {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "text text text text"
        "pic1 pic2 pic3 pic4";
    margin-top: 10vh;
}

.story-about-techniques-text {
    grid-area: text;
    padding: 5%;
}

.story-about-techniques-pic1 {
    grid-area: pic1;
}

.story-about-techniques-pic2 {
    grid-area: pic2;
}

.story-about-techniques-pic3 {
    grid-area: pic3;
}

.story-about-techniques-pic4 {
    grid-area: pic4;
}
