body {
    font-family: "Kalam", cursive;
    color: #2b404d;
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5vh 20vh auto 15vh;
}

.top-bar {
    color: #2b404d;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 1vh;
    grid-area: 1 / 1 / 2 / 5;
    border-bottom: 1px solid #f4f1ec;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
}

.top-bar a {
    text-decoration: none;
    color: #2b404d;
}

.top-bar-link {
    text-align: right;
}

.top-bar-name {
    margin-right: auto;
    float: left;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.header {
    grid-area: 2 / 1 / 3 / 3;
    margin-left: 10vw;
}

.main-menu-hamburger{
    visibility: hidden;
}

.main-menu {
    grid-area: 2 / 3 / 3 / 5;
      
}

.menu-item {
    list-style-type: none;
    display: inline-block;
    height: 60px;
    margin: 20px;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;  
}

.main-menu-list > .menu-item a,
.footer a {
    text-decoration: none;
    color: #2b404d;
}

a:hover {
    color: #19a2e0;
    transition: ease-in 0.15s;
}

.main-content {
    grid-area: 3 / 1 / 4 / 5;
    background-image: url("../img/toy1.jpg");
    background-position: 80% 25%;
}

.active {
    color: #19a2e0;
}

.footer {
    grid-area: 4 / 1 / 5 / 5;
    border-top: 1px solid #f4f1ec;
}

.content {
    padding-left: 10vw;
    width: 60%;
    color: #f4f1ec;
    margin-top: 5vh;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.data-name {
    grid-area: 1 / 1 / 2 / 3;
}

.data-address {
    grid-area: 2 / 1 / 3 / 2;
}

.data-email {
    grid-area: 2 / 2 / 3 / 3;
}

.data-facebook {
    grid-area: 3 / 1 / 4 / 2;
}

.data-phone {
    grid-area: 3 / 2 / 4 / 3;
}

.data-h2 {
    text-transform: uppercase;
    color: #19a2e0;
}

.contact-link {
    color: #f4f1ec;
    text-decoration: none;
}

.icon {
    font-size: 30px;
    color: #19a2e0;
    padding: 10px;
    float: left;
}

.home-link {
    text-decoration: none;
    color: #2b404d;
}
.footer {
    grid-area: 4 / 1 / 5 / 5;
}

.footer-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #2b404d;
    padding-left: 10vw;
}

.footer-header {
    color: #19a2e0;
    font-weight: bold;
}

.footer-content {
    font-size: 0.8rem;
}

.footer-content ul {
    list-style-type: none;
}

.data-h3 {
    color: #19a2e0;
    font-size: 1.1rem;
}

.hidden{
    visibility: hidden;
}


.visible{
    visibility: visible;
}

.main-menu-close{
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
}

.main-menu-close-trigger{
    height: 20px;
    width: 20px;
    
    border: 1px solid white;
    
}

.hamburger-clicked{
    background-color: #2b404d;
    z-index: 1;
    height: 400px;
    width: 200px;
    color: white;
    text-align: center;
    padding: 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.hamburger-clicked > .menu-item a{
    color: white;
    display: inline-block;
    text-decoration: none;
}

.hamburger-clicked > .menu-item a:hover{
    color: #19a2e0;
    transition: ease-in 0.15s;
}

@media (max-width: 1150px){
    .main-menu{
        grid-area: 2 / 2 / 3 / 5;
        margin-left: auto;
        margin-right: 3vw;
    }

    .header{
        grid-area: 2 / 1 / 3 / 3;
        margin-left: 4vw;
    }

    .content{
        padding-left: 4vw;
    }
    
    .footer-container{
        padding-left: 4vw;
    }
    
    .menu-item{
        margin: 15px;
    }
   
}


@media (max-width: 751px){

    .main-menu-list{
        visibility: hidden;
    }

    
    .main-menu{
       grid-area: 2 / 3 / 3 / 5;
       text-align: center;  
       position: relative;
    }

    .main-menu-hamburger{
        visibility: visible;
        height: 40px;
        position: absolute;
        top: 30%;
        right: 10%;
    }
    .main-menu-close{
        display: block;
    }
}

@media (min-width: 751px){
   
    .main-menu-list{
        visibility: visible;
    }
    .main-menu-hamburger{
        visibility: hidden;
    }
    .main-menu-close{
        display: inline;
    }

}