body {
    font-family: "Kalam", cursive;
    color: #2b404d;
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 25vh 110vh;
    grid-template-areas:
        "header header header main-menu main-menu main-menu main-menu main-menu"
        "main-img main-img main-img main-img main-img main-img main-img main-img"
        "footer-left footer-left  footer-left  footer-left  footer-left  footer-right footer-right footer-right";
}

.header {
    grid-area: header;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10vw;
}

.main-menu {
    grid-area: main-menu;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-item {
    list-style-type: none;
    display: inline;
    margin: 20px;
    font-size: 1.18rem;
    text-transform: uppercase;
}

.main-img {
    grid-area: main-img;
    background-image: url("img/toy1.jpg");
}

.active {
}

.footer-right {
    grid-area: footer-right;
}

.footer-left {
    grid-area: footer-left;
}
