
.icon-location:before { content: '\f031'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */